<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1052831909854-lbggvmi89t4gld98h0uls2eccq5nkjhj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1052831909854-lbggvmi89t4gld98h0uls2eccq5nkjhj</string>
	<key>API_KEY</key>
	<string>AIzaSyDS3FTcyLlyanbIc54BMaVJnl8bBV2Qyeo</string>
	<key>GCM_SENDER_ID</key>
	<string>1052831909854</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gisApp</string>
	<key>PROJECT_ID</key>
	<string>uw-gis-project</string>
	<key>STORAGE_BUCKET</key>
	<string>uw-gis-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1052831909854:ios:3c5ee8329e8eecd731ff4f</string>
</dict>
</plist>